.alb{
    min-width: 550px;
    background: #e3bdbd;
    padding: 5px;
    margin-bottom: 3px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}