.ud{
    background: #e3bdbd;
    padding: 5px;
    margin-bottom: 3px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

    min-height: 350px;
}


.posts{
    overflow-y: auto;
    height: 50vh;
}