.all {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    box-sizing: border-box;


}

.left{
    width: 35%;
    box-sizing: border-box;
}

.right{
    box-sizing: border-box;
    width: 60%;


}