.App {

}

.top{
    display: flex;
    flex-direction: row;
}

.top ul{
    overflow-y: scroll;
    width: 30rem;
    height: 500px;
}

.Posts{
    overflow-y: scroll;
    width: 1200px;
    height: 500px;
}

.Post {
    border: 2px solid silver;
    border-radius: 5px;
    padding:3px;
    margin: 5px;
}

.Post p,
.Post h2{
    padding: 0;
    margin: 3px;
}

.Comment p,
.Comment h2{
    padding: 0;
    margin: 3px;
}

.Comment {
    background: white;
    border: 2px solid silver;
    border-radius: 5px;
    padding:3px;
    margin: 5px;
}

.Comments {
    padding: 30px 10px;
    background: #e7e7e7;
    overflow-y: scroll;
    height: 500px;
}